$text-dark: #121417;
$text-light: #8A8A89;
$primary-color: #f4c550;
$primary-color-active: #FFDC86;
$secondary-color: #121417;
$secondary-color-light: rgba(18, 20, 23, 0.7);
$page-bg: #f8f8f8;
$accent: #cbded3;
$green: #38cd3e;
$white: #ffffff;
$star: #FFC531;
$error: #ff0000c2;

$transition: 250ms ease-in-out;

$Roboto: 'Roboto', sans-serif;

$container-mw-xs: 320px;
$container-mw-sm: 480px;
$container-mw-md: 768px;
$container-mw-lg: 1024px;
$container-mw-pg: 1216px;
$container-mw-xl: 1344px;
$container-pg: 0 16px;
$container-mg: 0 auto;