@import '../../../styles/variables';

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
}
  
.item {
  padding: 8px 12px;
  border-radius: 35px;
  background-color: transparent;
  border: 1px solid rgba(18, 20, 23, 0.2);

  &.active {
    background: $primary-color;
    border: 1px solid transparent;
  }

  & p {
    color: $text-dark;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
  }
}
  